body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: gray;
    padding: 20px;
    height: 20px;
    width: 100%;
}

main {
    padding: 40px;
    text-align: center;
    height: 800px;
}

h1 {
    font-size: 200px;
    text-align: center;
    top: 100px;
    left: 100px;
    color: #4CAF50;
}

h4 {

   width: 500px;
   text-align: center;
}


.subtitulo {
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    text-align: left;
    position: absolute;
    top: 300px;
    right: 1142px;
    color: white;
}

h5 {
    font-size: 40px;
    text-align: right;
    position: absolute;
    top: 300px;
    right: 1179px;
    color: white;
}

h3 {
    font-size: 16px;
    text-align: left;
    top: 420px;
    position: absolute;
    right: 1200px;
    color: white;

}

.formulario-contato {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    left: 850px;
    top: 330px;
}

.caixa-texto {
    width: 600px;
    height: 150px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid;
    border-color: #4CAF50;
}

button[type="submit"] {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    cursor: pointer;
    position: absolute;
    top: 340px;
    left: -1px;
}

button[type="submit"]:hover {
    background-color: #4CAF50;
    color: white;
}

.accept {
    position: absolute;
    right: 375px;
    top: 310px;
}

input[type="checkbox"] {
    position: relative;
    top: -8px;
    right: 294px;
    border: 2px solid;
    border-color: #4CAF50;
  }

.terms-of-service {
    text-align: left;
    margin-top: 10px;
}

.terms-of-service input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

}

.terms-of-service label {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.header-site .botoes {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-site .botoes button {
    margin-left: 70px;
    margin-right: 50px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: white;
    box-shadow: none;
    transition: transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.header-site .botoes button:hover {
    transform: scale(1.2);
}

a {
    color: white;
    /* Define a cor dos links como preto */
    text-decoration: none;
    /* Remove a decoração de texto */
}

a:hover {
    color: white;
    /* Define a cor dos links ao passar o mouse como preto */
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse sobre os links */
}

a:visited {
    color: white;
    /* Define a cor dos links visitados como preto */
}

footer {

    width: 100%;
    height: 180px;
    background-color: grey;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: sans-serif;
  }

.titulo-frente {
    position: relative;
}


.titulo-tras {
    position: absolute;
    top: -200px;
    left: 690px;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: #999;
}

.titulo-frente h1 {
    position: absolute;
    font-size: 60px;
    top: -10px;
    left: 580px;
    text-align: center;
}